{% extends 'layout.html' %}{% block content %}
<div class="top-margin container add-category">
    <div class="col-md-8 col-sm-12">
        <form method="POST">
            <div class="form-group">
                <label>Are you sure you want to delete {{item}}?</label>
                </br>
                <button type="submit" class="btn btn-default delete">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button> |
                <a href={{url_for("home")}}>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Back to home
            </div>
        </form>
        </a>
    </div>
</div>
{% endblock %}
