{% extends 'layout.html' %}{% block content %}
<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        {% for i in range(count) %}
        <li data-target="#myCarousel" data-slide-to={{i}} class=""></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide img-responsive" src="http://lorempixel.com/1200/600/" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Amazing Products</h1>
                    <p>Catalog of your favorite items</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        {% for item in items %}
        <div class="item">
            <a href={{url_for( "showProduct", category_param=item[0].name, subcategory_param=item[1].name, product_param=item[2].name)}}><img class="third-slide img-responsive" src={{item[3].picture}} alt={{item[2].name}}></a>
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{item[2].name}}</h1>
                    <p>{{item[2].description}}</p>
                    <p><a class="btn btn-lg btn-primary" href={{url_for( "showSubCategory", category_param=item[0].name, subcategory_param=item[1].name)}} role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- /.carousel -->
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        {% for item in items %}
        <div class="col-lg-4">
            <img class="img-circle" src={{item[3].picture}} alt="Random product image from this category" width="140" height="140">
            <h2>{{item[0].name}}</h2>
            <p>{{item[1].description}}</p>
            <p><a class="btn btn-default" href={{url_for( 'showCategory', category_param=item[0].name)}} role="button">View details »</a></p>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider"> {% for item in items %}
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading"><a href={{url_for("showSubCategory", category_param=item[0].name, subcategory_param=item[1].name)}}>{{item[1].name}}</a></h2>
            <p class="lead">{{item[1].description}}</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" alt={{item[1].name}} src="{{item[3].picture}}" data-holder-rendered="true">
        </div>
    </div>
    <hr class="featurette-divider"> {% endfor %} {% endblock %}
