<!DOCTYPE html>
<html>

<head>
    <title>Catalog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="ahmfrz">
    <meta name="description" content="Catalog application with OAuth2">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={{url_for( 'static', filename='css/style.css' )}}>
</head>

<body data-gr-c-s-loaded="true">
    <div class="navbar-wrapper">
        <div class="container">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href={{url_for( 'home')}}>Catalog</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href={{url_for( "home")}}>Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catalog <span class="caret"></span></a>
                                <ul id="nav-catalog" class="catalog dropdown-menu">
                                    <li>
                                        <table class="table table-hover">
                                            <tr id="nav-categories">
                                            </tr>
                                            <tr id=nav-brands>
                                            </tr>
                                            <tr id=nav-subCategories>
                                            </tr>
                                        </table>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href={{url_for( 'showUserCategory')}}>My Categories</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href={{url_for( 'addCategory')}}>Add Category</a></li>
                                </ul>
                            </li>
                            <li><a href="http://theprogrammersblog.appspot.com/about">About</a></li>
                        </ul>
                        {% if not session['username'] %}
                        <div class="login pull-right">
                            <a href="#" data-toggle="modal" data-target="#myModal">Login</a>
                        </div>
                        {% else %}
                        <div class="login pull-right">
                            {{session['username']}} |
                            <a class="login-link" href={{url_for( 'logout')}}>Logout</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class='flash'>
        <ul>
            {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %} {% endwith %} {% block content %} {% endblock %} {% include 'login_modal.html' %}
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2017 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <script>
    window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src={{url_for( 'static', filename='js/script.js' )}}></script>
    <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
        <defs>
            <style type="text/css"></style>
        </defs>
        <text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text>
    </svg>
</body>

</html>
